.Box {
    padding: 50px  0px;
    background-image: linear-gradient(rgb(74, 87, 74), rgb(0, 0, 0));
     bottom: 0px; 
     width: 100%;
    @media (max-width: 1000px) {
     padding: 70px 30px;
    }
    margin-top: 10px; 
    position: static;
    padding-top: 100px;
 }